@media screen and (min-width: 480px) {
    .header {
        padding-bottom: 1%;
    }
    .nav a {
        font-size: 1.4em;
        font-weight: 800;
        padding: 10px 7px;
    }
    #intro p {
        font-size: 3em;
    }
    #overlay {
        top: 10%;
        height: 350%;
    }
    #overlay img {
        width: 90%;
        padding-top: 3%;
        padding-left: 5%;
    }
}

@media screen and (min-width: 735px) {
    #profilePhoto {
        float: left;
        margin: 5% 5% 350px 5%;
    }
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    #gallery li {
        width: 25%;
        margin: 2% 4%;
        float: left;
    }
    #gallery li:nth-child(3) {
        clear: none;
    }
    #gallery li:nth-child(5) {
        clear: none;
    }
    #gallery li:nth-child(4) {
        clear: left;
    }
    .nav {
        background: none;
        float: right;
        text-align: right;
        width: 45%;
        margin-right: 5%;
    }
    #logo {
        float: left;
        text-align: left;
        margin-left: 5%;
    }
    .header {
        padding-bottom: 1%;
    }
    #overlay {
        top: 10%;
    }
    #overlay img {
        width: 90%;
        padding-top: 2%;
        padding-left: 5%;
    }
    a,
    img,
    #logo,
    .header,
    .nav,
    .nav a,
    #footer,
    #intro,
    #intro p,
    #intro a,
    #wrapper,
    #gallery,
    #gallery li,
    #about,
    #profilePhoto,
    #contact,
    #contact a,
    #overlay,
    #overlay img,
    #overlay p {
        transition-duration: 500ms;
        -o-transition-duration: 500ms;
        -ms-transition-duration: 500ms;
        -moz-transition-duration: 500ms;
        -webkit-transition-duration: 500ms;
    }
}

@media screen and (max-width:480px) {
    html {
        width: auto;
        font-size: 12px;
    }
    #menu {
        height: fit-content;
    }
    h1 {
        font-size: 2.2em;
    }
    #container {
        width: 50%;
    }
    .title {
        width:
    }
}

#head-4 {
    font-size: 14px;
    color: #EBF0ED;
}

@media (min-width:640px) {
    html {
        width: 100%;
    }
}

@media (min-width: 720px) {
    html {
        width: 100%;
    }
}